<!DOCTYPE HTML>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title> Bienvenidos a Pla-Yeah!! </title>
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap.css">
		<link rel="stylesheet" href="/media/bootstrap/css/bootstrap-responsive.css">
		<script src="/media/js/jquery.js"></script>
		<script src="/media/bootstrap/js/bootstrap.js"></script> 
		<style type="text/css">
			body{
				padding-top: 60px;
				padding-bottom: 40px;
			}
			.sidebar-nav{
				padding: 9px 0;
			}
		</style>
		<script type="text/javascript">
			$(document).on('ready',function(){
				$.ajax({
					type:"GET",
					contentType:"application/json; charset=utf-8",
					dateType:"json",
					url:"/ws/playas/",
					success:function(response){
						var i = (response.length-1)-2;
						for(i;i<=(response.length-1);i++){
							$('#PlayasNuevas').append("<li>"+response[i].fields.nombre+"</li>");
						}
					}
				});
			});
		</script>
	</head>

	<body background="media/images/7.jpg">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<a class="brand" href="{% url "vista_principal" %}"> Pla-Yeah! <i class="icon-home"></i></a>
				<ul class="nav">
					<li><a href="/playas/page/1"> Playas </a></li>
					<li><a href="{% url "vista_contacto" %}"> Contacto </a></li>
					<li><a href="{% url "vista_about" %}"> Acerca de </a></li>
					<li><a href="{% url "vista_registro" %}"> Regístrate </a></li>
					{% if user.is_authenticated %}
						<li><a href="{% url "vista_logout" %}"> Cerrar Sesion </a></li>
					{% else %}
						<li><a href="{% url "vista_login" %}"> Iniciar Sesion </a></li>
					{% endif %}
				</ul>	
			</div><!--/inner-->
		</div><!--/navbar-->

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span9">
					<div class="hero-unit">	
						{% block content %}

						{% endblock %}
					</div>
				</div><!--/span9-->	

				<div class="span3">

					{% if user.is_authenticated %}
						<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li class="nav-header"> Usuario on-line </li>
								<p align="center">
									Usuario {{ user.username }}
								</p>
								{% if user.get_profile.photo %}
									<center><img align="center" src="/media/{{ user.get_profile.photo }}" width="100px" heigth="100px"/></center>
								{% else %}
									<center><img src="/media/images/user.jpg" width="100px" heigth="100px"/></center>
								{% endif %}
								<br>
								<center><a class="btn btn-primary" href="#"><li class="icon-edit"></li> Editar Perfil </a></center>
							</ul>
						</div><!--/well-->
					{% else %}
						<div class="well sidebar-nav">
							<ul class="nav nav-list">
								<li class="nav-header"> Pla - Yeah !! </li>	
								<center><img src="/media/images/logo3.jpg" width="150px" heigth="150px"/></center>
							</ul>
						</div><!--/well-->
					{% endif %}
				</div>

				<div class="span3">
					<div class="well sidebar-nav">
						<ul class="nav nav-list" id="PlayasNuevas">
							<li class="nav-header"> Últimas Playas </li>	
						</ul>
					</div><!--/well-->
					<img src="/media/images/islas_canarias.jpg"/><br><br>
					<img src="/media/images/gob_can.jpg"/><br><br>
					<img src="/media/images/django.gif"/>
				</div><!--/span3-->
			</div><!--/row-fluid-->

			<footer>
				<p>&copy; Open Project Pla-Yeah 2014. Versión Django: {{ django_version }} </p>
			</footer>
		</div>

	</body>
</html>