{% extends 'base.html' %}
{% block title %} Acerca de Playeah {% endblock %}
{% block content %}

	<center><h2><em> Acerca de </em></h2></center>
	<center><h1><em> Pla-Yeah! </em></h1></center><br>
	<p> Somos dos estudiantes de Ingeniería Informática de la Universidad de La Laguna. Decidimos crear una aplicación que permitiera a los canarios y turistas que nos visitan, compartir la pasión por nuestro patrimonio natural. La idea de este proyecto es crear una comunidad en la que todos podamos aportar nuestras experiencias y mostrar al resto los paisajes paradisiacos de los que disfrutamos en Canarias. </p><br>

	<div class="row-fluid">
		<h4 align="center"> Fotos de los realizadores de Pla - Yeah! </h4><br>
		<div class="span5" align="left">
			<h5> Cristhian J. García Conrado </h5> 
			<img src="/media/images/cris.jpg" width="200px" heigth="200px"/>
		</div>
		<div class="span1">
		</div>
		<div class="span5" align="right">
			<h5 align="center"> Gabriel García Ventura </h5> 
			<img src="/media/images/gabri.jpg" width="200px" heigth="200px"/>
		</div>
	</div>

{% endblock %}